// COLORS

$white: #ffffff;
$blue-dark: #1c2541;
$blue-medium: #3a506b;
$blue-light: #19647e;
$orange: #ef9834;
$purple: #8317d1;
$gray-66: #666666;
$gray-44: #444444;
$gray-22: #222222;

// FONTS

$font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
