@import "./_variables.scss";

.app {
  font-family: $font-family-default;
  min-height: 100vh;

  .title {
    width: 100%;
    margin: 0;
    padding: 14px 0;

    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.01em;

    color: $white;
    background-color: $purple;

    .version {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  .options {
    margin: 36px auto 24px;
    max-width: calc(100vw * 10 / 12);

    .option {
      margin: 8px 0;
      display: block;

      .textInput {
        width: calc(100%);
        margin: 8px 0;
        padding: 8px 16px 10px;
        font-size: 16px;

        border: 1px solid $gray-66;
        border-radius: 6px;
      }
    }
  }

  .darkModeToggle {
    position: absolute;
    right: 32px;
    cursor: pointer;
  }

  .genres {
    margin: 16px 0 12px;
  }

  .button {
    background: none;
    border: 1px solid $gray-66;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0 4px 8px;
    font-size: 14px;
    cursor: pointer;

    &.active {
      background-color: $orange;
      color: $white;
    }
  }

  .sectionHeader {
    width: calc(100vw * 10 / 12);
    margin: 0 auto;
    padding: 4px calc(100vw * 1 / 12) 8px;
    font-size: 24px;
    font-weight: 700;

    background-color: $purple;
    color: $white;
  }

  &.dark {
    background-color: $gray-44;
    color: $white;

    .title {
      background-color: $blue-dark;
    }

    .button {
      color: $white;
      background-color: rgba($gray-22, 0.5);

      &.active {
        background-color: $orange;
      }
    }
  }
}

.bold {
  font-weight: 700;
}
